.shadowColor{
    box-shadow: 0 8px 8px -7px rgb(255, 187, 0)
}

@media (max-width: 600px) {
    .ulmedia {
      width: 100%;
    }}

    @media (max-width: 800px){
      .mediaforumlist{
          width: 90%;
      }
  }