@media (max-width: 600px) {
    .pBottom {
     font-size: small;
     }}
@media (max-width: 375px) {
    .mediacolbottombar {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     }
     .mediacolfastlinks{
         width: 100%;
         text-align: center;
     }
    }
    .textcoloruniversity{
        color: #f9cb00;
    }

